button {
  background: #fff;
  border: rgb(205, 205, 205);
  border-radius: 6px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #111;
  flex-shrink: 0;
}
.btn-text {
  padding: 0 11px;
  height: 30px;
}
